/*a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: black;
}
*/

.views-exposed-form .views-exposed-widget {
  float: left; /* LTR */
  padding: .5em 1em 0 0; /* LTR */
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.6em;
}

.views-exposed-form .form-item,
.views-exposed-form .form-submit {
  margin-top: 0;
  margin-bottom: 0;
}

.views-exposed-form label {
  font-weight: bold;
}

.views-exposed-widgets {
  margin-bottom: .5em;
}

/* table style column align */
.views-align-left {
  text-align: left;
}
.views-align-right {
  text-align: right;
}
.views-align-center {
  text-align: center;
}

/* Remove the border on tbody that system puts in */
.views-view-grid tbody {
  border-top: none;
}

.view .progress-disabled {
  float: none;
}

h1#page-title {
  font-size: 10px;
  font-family: Arial;
  line-height: 1;
  color: white;
  background-color: #008374;
  border-bottom: 20px;
  border-color: #008374;
  margin-bottom: 0px;
}

.views-exposed-widgets.clearfix {
    background-color: #008374;
    margin-top: 0px;
}

.views-exposed-form label {
  font-weight: normal;
  font-family: Arial;
  color: white;
}

.views-exposed-form .form-text {
    background-color: #3b9c91;
    padding-color:#3b9c91;
    border-color: #3b9c91;
    margin-color: #3b9c91;
}

/*.view-content {
    background-color: #008374;
    font-family: Arial;
}*/

/*.views-summary.views-summary-unformatted {
    float: left;
}*/

ul.tabs.primary {
    background-color: #008374;
    border-bottom: 10px;
    border-color: #008374;
    margin-bottom: 0px;
}


div#page {
    background-color: #fafbf6;
}

.breadcrumb {
    background-color: #fafbf6;
}

div#main-wrapper {
    background-color: #fafbf6;
}

.tabs.primary {
  margin-bottom: 0px;
}

.views-field.views-field-title a {
    color: #027063;
    font-size: 20px;
}

.field-content a {
    color: #007265;
}

.views-field.views-field-field-company-or-brand a {
    color: #ff9e17;
    font-size: 20px;
}

ul {
    list-style-type: none;
    font-family:"Museo Slab 700",Helvetica,Arial,sans-serif;
}

span.views-label.views-label-field-company-or-brand {
    font-size: 20px;
}

span.views-field.views-field-field-category {
    display: block;
}
span.views-field.views-field-field-brand {
    display: block;
}
span.views-field.views-field-field-company {
    display: block;
}

.views-field.views-field-field-list-of-products-sold a {
    color: #ff9e17;
}

.attachment.attachment-before {
    font-weight: Arial !important;
    /*color: #b8d2cf*/;
}

.views-field.views-field-field-address {
    color: auto;
}

img {
    float: right;
}



.company-list .views-field.views-field-title a{
    color: #ff9e17;
}

.views-field.views-field-field-contact-telephone-number {
    color: #007265;
}

.views-field.views-field-field-contact-telephone-number-2 {
    color: #007265;
}

.caterer-list .views-field.views-field-title a{
    color: #ff9e17;
}

.views-field.views-field-field-website a {
    color: #ff9e17;
}

.views-summary.views-summary-unformatted {
    color: white;
    background-color: #008374;
}

.view-content {
    font-family: Arial;
}


/*.view-content a {
  color: purple;
}*/

/*.product-list .view-content a {
  color: red;
}*/

span.views-summary.views-summary-unformatted a {
    color: white;
}


/*.section.contextual-links-region {
    background-color: #008374;
}*/

.product-list {
  background-color: white;
}

/*.section.contextual-links-region {
    border:none;
}*/

/*#content .section {
  padding: 0px;
}

.sidebar .section {
  padding: 0px;
}*/

.element-invisible a {
  background-color: #ff9e17;
}

ul.tabs.primary {
    background-color: black;
}

.tabs ul.primary {
  background-color: #008374 !important;
}